*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyo
*.pyc 
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
*SPARTA.egg-info
*.ipynb_checkpoints
/examples/.ipynb_checkpoints/
/sparta/UNICOR/template_files/lte05800-3.50+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
/sparta/UNICOR/template_files/WAVE_PHOENIX-ACES-AGSS-COND-2011.fits
